<mat-toolbar>
  <button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger" mat-icon-button class="example-icon"
    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>add</mat-icon>
      <span>Agregar Superhéroe</span>
    </button>
    <button mat-menu-item>
      <mat-icon>create</mat-icon>
      <span>Modificar Superhéroe</span>
    </button>
  </mat-menu>
  <span>Universo Marvel</span>
  <span class="example-spacer"></span>
  <div>
    <a mat-button> Agregar Superhéroe</a>
    <a mat-button> Modificar Superhéroe</a>
    <a mat-button> Contacts </a>
  </div>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>