.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar{
  background-color: #202020;
  color: #fff;

}

.o-box-logo-marvel{
  width: 14vh;
  height: 7vh;
  margin-left: 2vh;
}


/* ::ng-deep .mat-button-wrapper:hover{
  color: #e62429 !important;
} */