.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar{
  background-color: #202020;
  color: #fff;

}

.o-box-logo-marvel{
  width: 14vh;
  height: 7vh;
  margin-left: 2vh;
}


 a:hover,
 mat-icon:hover{
  color: #e62429 !important;
}
 
@media (min-width: 1280px) and (max-width: 1400px){
  .o-box-logo-marvel {
    width: 20vh;
    height: 10vh;
  }
}