table {
    width: 100%;
    margin-top: 2vh;
  }

.o-box-button{
    padding: 2vh;
    display: grid;
    grid-template-columns: 35% 52% 10%;
    gap: 2vh;
}

.o-box-table{
  padding: 4vh 2vh;
}

.o-box-button-buttons{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vh;
  height: 5vh;
}

.o-box-button-buscadores{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8vh;
  height: 5vh;
}

.o-box-button-buscadores-box{
  display: grid;
  grid-template-columns: 75% 22%;
  gap: 1vh;
  
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
  height: 5vh !important;
}

.o-height{
  height: 5vh;
}

.o-button-vehiculo{
  height: 5vh;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.o-button-add{
  width: 28vh;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.o-box-button-automovil{
  display: flex;
  justify-content: flex-end;
}
::ng-deep .mat-form-field-label-wrapper{
  color: var(--secundary-color);
}

::ng-deep.mat-form-field-ripple{
  background-color: var(--primary-color) !important;
}

::ng-deep.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--primary-color) !important;
}

.example-card {
    max-width: 400px;
  }
  
.example-header-image {
    background-size: cover;
}

.o-box-table-cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 2vh;
}

.o-box-table-cards-table-data{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1vh;
}

.mat-card-image{
  width: 15vh !important;
  min-width: 20vh !important;
}

.o-box-table-cards-box-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vh 0;
}

.o-button-hover:hover{
  background-color: var(--hover-button-color);
}

.o-button-white-hover:hover{
  background-color: var(--hover-white-color);
}

@media (min-width: 1280px) and (max-width: 1400px){

  .o-button-add{
    width: 32vh;
  }

  .o-box-button-buttons,
  .o-height,
  .o-button-vehiculo{
      height: 7vh;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
      height: 7vh !important;
  }
  
  .o-box-button{
      grid-template-columns: 35% 52% 11%;
  }

  .o-box-table-cards-box-img{
    height: 15vh;
  }
 
  .o-box-table-cards-table-data{
    gap: 0;
  }

  .mat-card-actions{
    padding: 0 0 1vh 0 !important;
  }
}

//Celulares
@media (max-width: 1024px){

  .o-box-button{
    grid-template-columns: 1fr;
    grid-template-rows: 5vh 20vh;
  }

  .o-box-button-buttons{
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    justify-items: center;
  }

  .o-box-button-buscadores {
    grid-template-columns: 1fr;
    gap: 1vh;
    justify-items: center;
  }

  .o-box-button-buscadores-box{
    height: 6vh;
  }

  .o-button-add,
  .o-button-vehiculo{
    width: 33vh;
  }

  .o-box-table{
    padding: 1vh 2vh;
  }

  .o-box-table-cards{
    grid-template-columns: 1fr;
  }

  .o-movil{
    display: none;
  }


}
