
<ngx-spinner></ngx-spinner>
<div class="o-box-button">
  <div class="o-box-button-buttons">
    <button mat-raised-button routerLink="/agregar" class="o-button-add">
      <mat-icon>add</mat-icon>
      <span>Agregar Superhéroe</span>
    </button>

    <button mat-raised-button routerLink="/inicio" class="o-button-add" *ngIf="!movil">
      <mat-icon>remove_red_eye</mat-icon>
      <span>Cambiar vista</span>
    </button>
  </div>

  
  <div class="o-box-button-buscadores">
    <div class="o-box-button-buscadores-box">
        <mat-form-field appearance="fill" class="o-height">
          <mat-label>Buscar por Nombre</mat-label>
          <input matInput [(ngModel)]="nombreBuscar">
      </mat-form-field>

        <button mat-raised-button class="o-search-button" class="o-height" (click)="buscarPorNombre(nombreBuscar)">
          <mat-icon>search</mat-icon>
      </button>

    </div>

    <div class="o-box-button-buscadores-box">
      <mat-form-field appearance="fill">
        <mat-label>Buscar por Ciudad</mat-label>
        <input matInput [(ngModel)]="ciudadBuscar">
    </mat-form-field>

      <button mat-raised-button class="o-height" (click)="buscarPorCiudad(ciudadBuscar)">
        <mat-icon>search</mat-icon>
    </button>

  </div>

  <div class="o-box-button-automovil" *ngIf="movil">

    <button mat-raised-button class="o-button-vehiculo" (click)="listarVehiculo()">
      <span>Listar Vehículo</span>
    </button>
  </div>

  </div>

  <div class="o-box-button-automovil" *ngIf="!movil">

    <button mat-raised-button class="o-button-vehiculo" (click)="listarVehiculo()">
      <span>Listar Vehículo</span>
    </button>
  </div>


</div>

<div class="o-box-table">
  <div class="o-box-table-cards">
    <div *ngFor="let super of listaSuperheroes">
      <mat-card class="example-card">
        <mat-card-header>
          <img mat-card-avatar class="example-header-image" src="{{super.logo}}" alt="logo">
          <mat-card-title>{{super.nombre}}</mat-card-title>
          <mat-card-subtitle>{{super.grupo}}</mat-card-subtitle>
        </mat-card-header>
        <div class="o-box-table-cards-box-img">
          <img mat-card-image src="{{super.logo}}" alt="logo">
        </div>
        <mat-card-content>
          <div class="o-box-table-cards-table-data">
            <p class="negrita">Ciudad de Operación:</p>
            <p class="text-center">{{super.ciudad_operacion}}</p>

            <p class="negrita">Condición Actual:</p>
            <p class="text-center">{{super.condicion}}</p>
            
            <p class="negrita">Superpoder:</p>
            <p class="text-center">{{super.superpoder}}</p>

            <p class="negrita">Tiene Vehículo:</p>
            <p class="text-center">{{super.vehiculo}}</p>

            <p class="negrita">Tipo de Vehículo:</p>
            <p class="text-center">{{super.tipo_vehiculo}}</p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button (click)="modificarSuperheroe(super.id_superheroe)">
            <mat-icon>create</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="eliminarSuperheroe(super.id_superheroe, super.nombre)">
          <mat-icon>delete</mat-icon>
      </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>


</div>


  