<ngx-spinner></ngx-spinner>
<div class="o-box-button">
    <button mat-raised-button routerLink="/inicio" class="button-back o-button-hover" *ngIf="!movil">
        <mat-icon>keyboard_arrow_left</mat-icon>
        <span>Regresar</span>
      </button>

      <button mat-fab color="warn" aria-label="Example icon button with a home icon" *ngIf="movil" routerLink="/vista-cards" class="button-back-movil">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
</div>
<div class="o-box-table">

    <div class="o-title">
        <h1>Formulario para agregar un Superhéroe</h1>
    </div>

    <div class="o-box-form--grid">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput [(ngModel)]="superheroe.nombre">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Grupo</mat-label>
            <input matInput [(ngModel)]="superheroe.grupo">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Ciudad</mat-label>
            <input matInput [(ngModel)]="superheroe.ciudad_operacion">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Condición</mat-label>
            <input matInput [(ngModel)]="superheroe.condicion">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Superpoder</mat-label>
            <input matInput [(ngModel)]="superheroe.superpoder">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Logo (url)</mat-label>
            <input matInput [(ngModel)]="superheroe.logo">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>¿Tiene Vehículo?</mat-label>
            <input matInput [(ngModel)]="superheroe.vehiculo">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Tipo de vehículo</mat-label>
            <input matInput [(ngModel)]="superheroe.tipo_vehiculo">
        </mat-form-field>
    </div>
    <div class="o-box-button-add">
        <button mat-raised-button (click)="agregarSuperheroe()" class="button-add o-button-hover" [disabled] = "add">
            <mat-icon>add</mat-icon>
            <span>Agregar</span>
          </button>
    </div>

    <div class="o-box-card" *ngIf="superHeroe">
        <div class="o-card-grid">
            <div class="o-box-logo">
                <img src="{{superheroe.logo}}" width="100" height="100" alt=""> 
            </div>
            <div>
                <div class="o-rows-super">
                    <div>
                        <div><p>Nombre:</p></div>
                        <div><p>Grupo:</p></div>
                        <div><p>Ciudad:</p></div>
                        <div><p>Condición:</p></div>
                        <div><p>Superpoder:</p></div>
                        <div><p>¿Tiene Vehículo?:</p></div>
                        <div><p>Tipo de vehículo:</p></div>
                    </div>
                    <div class="o-rows-super-items-movil">
                        <div><p>{{superheroe.nombre}}</p></div>
                        <div><p>{{superheroe.grupo}}</p></div>
                        <div><p>{{superheroe.ciudad_operacion}}</p></div>
                        <div><p>{{superheroe.condicion}}</p></div>
                        <div><p>{{superheroe.superpoder}}</p></div>
                        <div><p>{{superheroe.vehiculo}}</p></div>
                        <div><p>{{superheroe.tipo_vehiculo}}</p></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    



</div>